<h1 class="site-heading text-center text-black d-none d-lg-block">
  <span class="site-heading-lower">Castle of Cream</span>
</h1>

<app-nav></app-nav>

<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../../assets/img/homepage.jpeg" alt="">
      <!--src="src/assets/img/homepage.jpeg"-->
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Homemade Cakes</span>
          <span class="section-heading-lower">Worth Eating</span>
        </h2>
        <p class="mb-3">All cakes are, first and foremost, conceived through a collaboration of ideas between you and the baker. All cakes are freshly homemade from scratch with fresh ingredients to make you the perfect cake for any occasion.
        </p>
        <!--<div class="intro-button mx-auto">
          <a class="btn btn-primary btn-xl" href="#">Visit Us Today!</a>
        </div>-->
      </div>
    </div>
  </div>
</section>

<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Our Promise</span>
            <span class="section-heading-lower">To You</span>
          </h2>
          <p class="mb-0">When you order a cake at Castle of Cream, excellence is the only thing to expect. We provide you with friendly service, a welcoming atmosphere and above all else quality cakes made with quality ingredients. We guarantee to have you leave the bakery with exactly what you envisioned. </p>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>



<!-- Bootstrap core JavaScript -->
<!--<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

