
<h1 class="site-heading text-center text-black d-none d-lg-block">
  <span class="site-heading-lower">Castle of Cream</span>
</h1>

<app-nav></app-nav>

<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex ml-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper">Tailored to your needs</span>
            <span class="section-heading-lower">Cakes &amp; Cupcakes</span>
          </h2>
        </div>
      </div>
      <!--<img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="img/products-01.jpg" alt="">-->
      <div class="product-item-description d-flex mr-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">We take pride in our work. Every time you order a cake from us, we guarantee that it will be an experience worth having. Whether it’s from our fresh cream cakes, novelty cakes, tiramisus or cupcakes, a delicious experience awaits you. You will be coming back for more.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">

  <!-- ROW -->
  <div class="row">
    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">



          <!--<img class="card-img-top img-fluid rotateRight90 " style="display: block;" src="../../assets/img/new/1.JPG" alt="Cake Image">-->
          <img class="card-img fixedImageSize" style="display: block;" src="../../assets/img/new/1.JPG" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 1</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top  fixedImageSize" src="../../assets/img/new/2.JPG" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title"> Untitled 2</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize " src="../../assets/img/new/3.JPG" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 3</h4>
        </div>
      </div>
    </div>

  </div>
  <br>

  <!-- ROW new-->
  <div class="row">
    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize " src="../../assets/img/new/4.JPG" alt="Cake Image">
        <!--<img class="card-img-top img-fluid" src="../../assets/img/new/4.JPG" alt="Cake Image">-->
        <div class="card-body">
          <h4 class="card-title">Untitled 4</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/5.JPG" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title"> Untitled 5</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/6.JPG" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 6</h4>
        </div>
      </div>
    </div>

  </div>
  <br>


  <!-- ROW -->
  <div class="row">
    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/7.JPG" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 7</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/8.JPG" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title"> Untitled 8</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/9.JPG" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 9</h4>
        </div>
      </div>
    </div>

  </div>
  <br>

  <!-- ROW -->
  <div class="row">
    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/10.JPG" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 10</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/11.JPG" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title"> Untitled 11</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/12.JPG" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 12</h4>
        </div>
      </div>
    </div>

  </div>
  <br>


  <!-- ROW -->
  <div class="row">
    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/13.JPG" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 13</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img  fixedImageSize " src="../../assets/img/new/14.JPG" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 14</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/15.JPG" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 15</h4>
        </div>
      </div>
    </div>

  </div>
  <br>


  <!-- ROW -->
  <div class="row">
    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/16.JPG" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 16</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/17.jpeg" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 17</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/18.jpeg" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 18</h4>
        </div>
      </div>
    </div>

  </div>
  <br>

  <!-- ROW -->
  <div class="row">
    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/19.jpeg" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 19</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/20.jpeg" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 20</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/21.jpeg" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 21</h4>
        </div>
      </div>
    </div>

  </div>
  <br>

  <!-- ROW -->
  <div class="row">
    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/22.jpeg" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 22</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/23.jpeg" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 23</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/24.jpeg" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 24</h4>
        </div>
      </div>
    </div>

  </div>
  <br>

  <!-- ROW -->
  <div class="row">
    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/25.jpeg" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 25</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/26.jpeg" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 26</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/27.jpeg" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 27</h4>
        </div>
      </div>
    </div>

  </div>
  <br>


  <!-- ROW -->
  <div class="row">
    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/28.jpeg" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 28</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/29.jpeg" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 29</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/30.jpeg" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 30</h4>
        </div>
      </div>
    </div>

  </div>
  <br>

  <!-- ROW -->
  <div class="row">
    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/31.jpeg" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 31</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/32.jpeg" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 32</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/33.jpeg" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 33</h4>
        </div>
      </div>
    </div>

  </div>
  <br>

  <!-- ROW -->
  <div class="row">
    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/34.jpeg" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 34</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/35.jpeg" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 35</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/36.jpeg" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 36</h4>
        </div>
      </div>
    </div>

  </div>
  <br>

  <!-- ROW -->
  <div class="row">
    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/37.jpeg" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 37</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/38.jpeg" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 38</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/39.jpeg" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 39</h4>
        </div>
      </div>
    </div>

  </div>
  <br>

  <!-- ROW -->
  <div class="row">
    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/40.jpeg" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 40</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/41.jpeg" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 41</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/42.jpeg" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 42</h4>
        </div>
      </div>
    </div>

  </div>
  <br>

  <!-- ROW -->
  <div class="row">
    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/43.jpeg" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 43</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/44.jpeg" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 44</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/new/45.jpeg" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Untitled 45</h4>
        </div>
      </div>
    </div>

  </div>
  <br>


  <!-- -----------------------------------------------OLD ------------------------------------------------------------------ -->

  <!-- ROW -->
  <div class="row">

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/8.png" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Moo Moo Cake</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/23.png" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title"> Wonder Woman Cake</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/18.png" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Drip Fruit Cake</h4>
        </div>
      </div>
    </div>

  </div>
  <br>

  <!-- ROW -->
  <div class="row">
    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/7.png" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Minion Cake</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/22.png" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">3 in 1 Cake</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/5.png" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title"> Smarty Kit Katy Cake</h4>
        </div>
      </div>
    </div>
  </div>
  <br>

  <!-- ROW -->
  <div class="row">
    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/9.png" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Sailor Cake</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/12.png" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title"> Thank-You cupcakes</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/10.png" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Strawberry Cream Cake</h4>
        </div>
      </div>
    </div>

  </div>
  <br>

  <!-- ROW -->
  <div class="row">

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/21.png" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title"> Kit Kat Strawberry Cake</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/3.png" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title"> Whispers Cream Cake</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/19.png" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">All White Flower Cake</h4>
        </div>
      </div>
    </div>

  </div>

  <br>


  <!-- ROW -->
  <div class="row" > <!--*ngIf="isCupCakes"-->
    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/1.png" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title"> Number 25 Cake</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/14.png" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Number 1 Cake</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/13.png" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">ANC Themed Cake</h4>
        </div>
      </div>
    </div>

  </div>

  <br>

  <div class="row">
    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/6.png" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title"> Kiwi Lady Finger Cake</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/4.png" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title">Elim Church Cake</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/16.png" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title"> Ribbon Cake</h4>
        </div>
      </div>
    </div>

  </div>
  <br>

  <div class="row">

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/20.png" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title"> Easter Delight Cake</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize"  src="../../assets/img/17.png" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title"> Bow-Tie Cake</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/11.png" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title"> Berrylicious Tiramisu Cake</h4>
        </div>
      </div>
    </div>

  </div>

  <br>
  <!-- ROW -->
  <div class="row" > <!--*ngIf="isCupCakes"-->
    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/15.png" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title"> Strawberry Cupcakes</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4"  > <!--*ngFor = "let cake of cakes"-->
      <div class="card">
        <img class="card-img-top fixedImageSize" src="../../assets/img/2.png" alt="Cake Image">
        <div class="card-body">
          <h4 class="card-title"> Cream Cakes</h4>
        </div>
      </div>
    </div>


  </div>

  <br>

</div>


<app-footer></app-footer>





