
<h1 class="site-heading text-center text-black d-none d-lg-block">
  <span class="site-heading-lower">Castle of Cream</span>
</h1>

<app-nav></app-nav>

<section class="page-section cta" style="background-color: rgba(161,207,191,0.7);">
  <div class="container" >
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-5">
            <span class="section-heading-upper">Feel free to place an order</span>
            <span class="section-heading-lower">Contact Us via</span>
          </h2>
          <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
            <li class="list-unstyled-item list-hours-item d-flex">
              Email
              <span class="ml-auto">nelli.manana@gmail.com</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Cell Number
              <span class="ml-auto">066 202 4824</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Alternative Number
              <span class="ml-auto">083 282 0929</span>
            </li>

          </ul>
          <p class="address mb-5">
            <em>
              <strong>11 Glen Avenue</strong>
              <br>
              Equestria, Pretoria
            </em>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>




