<h1 class="site-heading text-center text-black d-none d-lg-block">
  <span class="site-heading-lower">Castle of Cream</span>
</h1>

<app-nav></app-nav>

<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="../../assets/img/aboutpage.jpeg" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <!--<span class="section-heading-upper">Strong Coffee, Strong Roots</span>-->
              <span class="section-heading-lower">About Our Bakery</span>
            </h2>
            <p>Established in 2017, Castle of Cream is a fully female black-owned company. It began with one girl that had a big vision that has now become a reality. Founder and CEO, Anele Manana, started this company from scratch in her mother’s kitchen. From then, it grew and is now a well-functioning business that continues to grow. </p>
            <p>All cakes are freshly baked with only the best ingredients. We guarantee that your pallet will never be the same once you taste our cakes. Castle of cream is dedicated to bringing to life any cake that you envision for absolutely any occasion. We guarantee deliciousness and superb taste above all else.</p>
            <p>Order your sample cake today to step into a world of sugar, cream and all things spongey!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
